<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.truckmuncher.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Account Manager -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Sync Framework -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.truckmuncher.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.truckmuncher.app.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.truckmuncher.app.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vendor.VendorHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".authentication.AuthenticatorActivity"
            android:label="@string/title_sign_in"
            android:parentActivityName=".MainActivity"
            tools:ignore="unusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truckmuncher.app.MainActivity" />
        </activity>
        <activity
            android:name=".vendor.settings.VendorSettingsActivity"
            android:label="@string/title_vendor_settings"
            android:parentActivityName=".vendor.VendorHomeActivity"
            tools:ignore="unusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truckmuncher.app.vendor.VendorHomeActivity" />
        </activity>
        <activity
            android:name=".customer.TruckProfileActivity"
            android:parentActivityName=".MainActivity"
            tools:ignore="unusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truckmuncher.app.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="truckmuncher.com"
                    android:pathPrefix="/trucks"
                    android:scheme="http" />
                <data
                    android:host="www.truckmuncher.com"
                    android:pathPrefix="/trucks"
                    android:scheme="http" />
                <data
                    android:host="truckmuncher.com"
                    android:pathPrefix="/trucks"
                    android:scheme="https" />
                <data
                    android:host="www.truckmuncher.com"
                    android:pathPrefix="/trucks"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" />

        <service
            android:name=".authentication.AuthenticatorService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".data.sync.SyncService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".customer.ActiveTrucksService"
            android:exported="false" />
        <service
            android:name=".customer.SimpleSearchService"
            android:exported="false" />
        <service
            android:name=".vendor.VendorTrucksService"
            android:exported="false" />
        <service
            android:name=".vendor.ResetVendorTrucksService"
            android:exported="false" />
        <service
            android:name=".menu.MenuUpdateService"
            android:exported="false" />
        <service
            android:name=".vendor.menuadmin.MenuItemDiffService"
            android:exported="false" />

        <provider
            android:name=".data.TruckMuncherContentProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/gms_version"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${googleMapsKey}" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="2d3548a0b8747eb27b8284162847057e23ccae1f" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="\ 691864144229001" />

        <service
            android:name=".customer.GetTruckProfilesService"
            android:exported="false" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.truckmuncher.app" />
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.GcmRegistrationService"
            android:exported="false" />
    </application>

</manifest>
